@model ModelBindingStyling_Lab.Models.UserProfile

@{
    ViewData["Title"] = "Profile Page";
}

<h1>Profile Page</h1>

<div class="card mb-4">
    <div class="card-header">
        <h4>@Model.FullName</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <!-- Profile Image -->
                <img src="@Model.ImageUrl" alt="Profile Image" class="img-fluid rounded-circle mb-3">
            </div>
            <div class="col-md-8">
                <dl class="row">
                    <!-- Full Name -->
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.FullName)</dt>
                    <dd class="col-sm-8">@Model.FullName</dd>

                    <!-- Email Address -->
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Email)</dt>
                    <dd class="col-sm-8">@Model.Email</dd>

                    <!-- Phone Number -->
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.PhoneNumber)</dt>
                    <dd class="col-sm-8">@Model.PhoneNumber</dd>

                    <!-- GitHub URL -->
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.GitHubUrl)</dt>
                    <dd class="col-sm-8"><a href="@Model.GitHubUrl" target="_blank">@Model.GitHubUrl</a></dd>

                    <!-- Skilled Languages -->
                    <dt class="col-sm-4">@Html.DisplayNameFor(model => model.SkilledLanguages)</dt>
                    <dd class="col-sm-8">
                        <ul class="list-unstyled">
                            @foreach (var lang in Model.SkilledLanguages)
                            {
                                <!-- Display each skill as a list item -->
                                <li><i class="fa fa-check-circle"></i> @lang</li>
                            }
                        </ul>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>
